@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: none;
}

body 
{
     background-color: teal;
}

.wrapper
{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     max-width: 350px;
     width: 100%;
     background-color: #fff;
     padding: 25px;
     border-radius: 5px;
     box-shadow: 4px 4px 2px gray;
}

.wrapper h2
{
     text-align: center;
     margin-bottom: 20px;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #333;
}

.wrapper .input-field
{
     margin-bottom: 15px;
}

.wrapper .input-field input[type="text"],
.wrapper textarea
{
     width: 100%;
     border: 1px solid #e0e0e0;
     padding: 10px;
}

.wrapper textarea
{
     height: 80px;
     resize: none;
}

.wrapper .btn input[type="submit"]
{
     border: 0;
     margin-top: 15px;
     padding: 10px;
     width: 100%;
     background-color: teal;
     color: #fff;
     font-size: 15px;
     letter-spacing: 3px;
     text-transform: uppercase;
     font-weight: bold;
     border-radius: 25px;
     cursor: pointer;
}

.wrapper .error-message
{
     margin-bottom: 20px;
     background-color: salmon;
     padding: 0px;
     transition:all .5s ease;
     text-align: center;
     font-size: 14px;
     color: white;

     
}